In [1]:
# -*- coding: utf-8 -*-
import os
import pickle
from typing import List

import pandas
import numpy as np
from tqdm import tqdm

In [2]:
'''
读I-2 csv
'''
assert os.path.exists('../../data')
dataset = pandas.read_csv('../../data/Dataset I (indel&mismatch)/dataset I-2/elevation_6gRNA_wholeDataset.csv', delimiter=',')
dataset

                             DNA                     crRNA  label    read
0       GCTGCCAGTACAGGCTCCCCCTCG  GCAGCCAGTACA_GCTCACCATGG    0.0     0.0
1       GCTGCCAGTACAGGCTCCCCCTCG  GCAGCCAGTACAG_CTCACCATGG    0.0     0.0
2       TACTAGAGTGACAAGTCACACAAT  G_CTAGAGTCACAAGTCCCACAGG    0.0     0.0
3       -C_TAGAGTGACAAGTCACACAAT  -GCTAGAGTCACAAGTCCCACAGG    0.0     0.0
4       ACAGCGAGTACAAGCTCATCATGA  GCAGCCAGTAC_AGCTCACCATGG    0.0     0.0
...                          ...                       ...    ...     ...
213938  -G_TGGTAGAAGGAGACTCTGTGG  -GATGGTAGATGGAGACTCAGTGG    1.0    10.0
213939  -GAT_CAGTTGCCTAGCTCTGAGG  -GCTTCCGTTGCTTAGCTCTGAGG    1.0     3.0
213940  -TCCCTGCAGCCCCAGTTC_AGGG  -GCCCTGCTGCCCCAGTTCGAGGG    1.0    17.0
213941  -GA_GGAGGGGTTTGCACAGGAGG  -GCCGGAGGGGTTTGCACAGAAGG    1.0  3070.0
213942  -GG_GGAGGGGTTTGCACAGAAGA  -GCCGGAGGGGTTTGCACAGAAGG    1.0    78.0

[213943 rows x 4 columns]

In [3]:
on = dataset['crRNA']
off = dataset['DNA']
val = dataset['label']

In [4]:
tlen =24
for seq in on:
    seq = '-'*(tlen-len(seq))+seq
for seq in off:
    seq = '-'*(tlen-len(seq))+seq
for i in range(len(on)):
    for j in range(tlen):
        if on[i][j]=='N':
            on[i][j]=off[i][j]

In [5]:
df = pandas.DataFrame(data={
    'on':on,
    'off':off,
    'val':val
})
df.to_csv('../../data/I-2.csv',index=False)