In [1]:
# -*- coding: utf-8 -*-
import os
import pickle
from typing import List

import pandas
import numpy as np
from tqdm import tqdm

In [2]:
orig_name = 'dataset II-5/Kleinstiver_5gRNA_wholeDataset.csv'
csv_name = 'II-5'

In [3]:
'''
读 csv
'''
assert os.path.exists('../../data')
dataset = pandas.read_csv('../../data/Dataset II (mismatch-only)/%s' % orig_name, delimiter=',')
dataset

                     sgRNA_seq                  off_seq  Read  label
0      GTCACCTCCAATGACTAGGGNGG  GTCtCCTCCAcTGgaTtGtGAGG     0      0
1      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
2      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
3      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
4      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
...                        ...                      ...   ...    ...
95824  GTGCGGCAAGAGCTTCAGCCNGG  GTGGGGCAAGAGGTTCAGCCTGG    23      1
95825  GTGCGGCAAGAGCTTCAGCCNGG  ATGGGGAAAGAGCTTCAGCCTGG    15      1
95826  GTGCGGCAAGAGCTTCAGCCNGG  GTGTGGCAAGAGCTTCAGCAGGA     6      1
95827  GTGCGGCAAGAGCTTCAGCCNGG  CTGTGGCAAGAGCTTCAGCCAGA     3      1
95828  GTGCGGCAAGAGCTTCAGCCNGG  GTGCGGCAAGAGCTTCAGCCAGA     2      1

[95829 rows x 4 columns]

In [4]:
on = dataset['sgRNA_seq']
off = dataset['off_seq']
val = dataset['label']
on,off,val

(0        GTCACCTCCAATGACTAGGGNGG
 1        GTCACCTCCAATGACTAGGGNGG
 2        GTCACCTCCAATGACTAGGGNGG
 3        GTCACCTCCAATGACTAGGGNGG
 4        GTCACCTCCAATGACTAGGGNGG
                   ...
 95824    GTGCGGCAAGAGCTTCAGCCNGG
 95825    GTGCGGCAAGAGCTTCAGCCNGG
 95826    GTGCGGCAAGAGCTTCAGCCNGG
 95827    GTGCGGCAAGAGCTTCAGCCNGG
 95828    GTGCGGCAAGAGCTTCAGCCNGG
 Name: sgRNA_seq, Length: 95829, dtype: object,
 0        GTCtCCTCCAcTGgaTtGtGAGG
 1        GTCtCtTCCgATGAtgAGGGTtG
 2        GcgACCTCCAcTGtCTAGtGGGc
 3        GcgACCTCCAcTGtCTAGtGGGc
 4        GTCtCtTCCgATGAtgAGGGTtG
                   ...
 95824    GTGGGGCAAGAGGTTCAGCCTGG
 95825    ATGGGGAAAGAGCTTCAGCCTGG
 95826    GTGTGGCAAGAGCTTCAGCAGGA
 95827    CTGTGGCAAGAGCTTCAGCCAGA
 95828    GTGCGGCAAGAGCTTCAGCCAGA
 Name: off_seq, Length: 95829, dtype: object,
 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 95824    1
 95825    1
 95826    1
 95827    1
 95828    1
 Name: label, Length: 95829, dtype: int64)

In [5]:
tlen =24
ons = []
offs = []
for i in range(len(on)):
    ons.append('-'*(tlen-len(on[i]))+on[i])
for i in range(len(off)):
    offs.append('-'*(tlen-len(off[i]))+off[i])

In [6]:
min([len(s) for s in ons])

24

In [7]:
onss = []
for i in tqdm(range(len(ons))):
    seq = []
    for j in range(tlen):
        if ons[i][j]=='N':
            seq.append(offs[i][j])
        else:
            seq.append(ons[i][j])
    onss.append(''.join(seq))
onss[0:10]

100%|██████████| 95829/95829 [00:00<00:00, 178682.36it/s]

['-GTCACCTCCAATGACTAGGGAGG',
 '-GTCACCTCCAATGACTAGGGTGG',
 '-GTCACCTCCAATGACTAGGGGGG',
 '-GTCACCTCCAATGACTAGGGGGG',
 '-GTCACCTCCAATGACTAGGGTGG',
 '-GTCACCTCCAATGACTAGGGAGG',
 '-GTCACCTCCAATGACTAGGGTGG',
 '-GTCACCTCCAATGACTAGGGGGG',
 '-GTCACCTCCAATGACTAGGGTGG',
 '-GTCACCTCCAATGACTAGGGAGG']

In [8]:
df = pandas.DataFrame(data={
    'on':onss,
    'off':offs,
    'val':val
})
df.to_csv('../../data/%s.csv' % csv_name, index=False)