In [1]:
# -*- coding: utf-8 -*-
import os
import pickle
from typing import List

import pandas
import numpy as np
from tqdm import tqdm

In [2]:
orig_name = 'dataset II-6/Listgarten_22gRNA_wholeDataset.csv'
csv_name = 'II-6'

In [3]:
'''
读 csv
'''
assert os.path.exists('../../data')
dataset = pandas.read_csv('../../data/Dataset II (mismatch-only)/%s' % orig_name, delimiter=',')
dataset

                      sgRNA_seq                  off_seq  label    read
0       GATGGTAGATGGAGACTCAGNGG  GAaGGTtctTGGAGAaTCAcAGG    0.0     0.0
1       GATGGTAGATGGAGACTCAGNGG  aATGcTAGATGacGAgTtAGTGG    0.0     0.0
2       GATGGTAGATGGAGACTCAGNGG  GAgGaTcGcTGGAGcCTCgGAGG    0.0     0.0
3       GATGGTAGATGGAGACTCAGNGG  GATGGcAGAgGcAGAaTCAGCcc    0.0     0.0
4       GATGGTAGATGGAGACTCAGNGG  GATGGgAGgTtGAGgtTCtGGGG    0.0     0.0
...                         ...                      ...    ...     ...
383458  GCCGGAGGGGTTTGCACAGANGG  CCAGGAGGGGTTTGCACAAAGGG    1.0  1049.0
383459  GCCGGAGGGGTTTGCACAGANGG  GAAGAAGGGGTTTGCACAGAGGG    1.0   288.0
383460  GCCGGAGGGGTTTGCACAGANGG  CGGGGAGGGGTTTGCACAGAAGA    1.0    78.0
383461  GCCGGAGGGGTTTGCACAGANGG  GCCGGAGTGGCCTGCACAGAGGG    1.0    51.0
383462  GCCGGAGGGGTTTGCACAGANGG  ACTGGAGGGATTTGCACACAGGG    1.0    32.0

[383463 rows x 4 columns]

In [4]:
on = dataset['sgRNA_seq']
off = dataset['off_seq']
val = dataset['label']
on,off,val

(0         GATGGTAGATGGAGACTCAGNGG
 1         GATGGTAGATGGAGACTCAGNGG
 2         GATGGTAGATGGAGACTCAGNGG
 3         GATGGTAGATGGAGACTCAGNGG
 4         GATGGTAGATGGAGACTCAGNGG
                    ...
 383458    GCCGGAGGGGTTTGCACAGANGG
 383459    GCCGGAGGGGTTTGCACAGANGG
 383460    GCCGGAGGGGTTTGCACAGANGG
 383461    GCCGGAGGGGTTTGCACAGANGG
 383462    GCCGGAGGGGTTTGCACAGANGG
 Name: sgRNA_seq, Length: 383463, dtype: object,
 0         GAaGGTtctTGGAGAaTCAcAGG
 1         aATGcTAGATGacGAgTtAGTGG
 2         GAgGaTcGcTGGAGcCTCgGAGG
 3         GATGGcAGAgGcAGAaTCAGCcc
 4         GATGGgAGgTtGAGgtTCtGGGG
                    ...
 383458    CCAGGAGGGGTTTGCACAAAGGG
 383459    GAAGAAGGGGTTTGCACAGAGGG
 383460    CGGGGAGGGGTTTGCACAGAAGA
 383461    GCCGGAGTGGCCTGCACAGAGGG
 383462    ACTGGAGGGATTTGCACACAGGG
 Name: off_seq, Length: 383463, dtype: object,
 0         0.0
 1         0.0
 2         0.0
 3         0.0
 4         0.0
          ...
 383458    1.0
 383459    1.0
 383460    1.0
 383461    1.0
 383462    1.0
 Name: label, Length: 383463, dtype: float64)

In [5]:
tlen =24
ons = []
offs = []
for i in range(len(on)):
    ons.append('-'*(tlen-len(on[i]))+on[i])
for i in range(len(off)):
    offs.append('-'*(tlen-len(off[i]))+off[i])

In [6]:
min([len(s) for s in ons])

24

In [7]:
onss = []
for i in tqdm(range(len(ons))):
    seq = []
    for j in range(tlen):
        if ons[i][j]=='N':
            seq.append(offs[i][j])
        else:
            seq.append(ons[i][j])
    onss.append(''.join(seq))
onss[0:10]

100%|██████████| 383463/383463 [00:02<00:00, 172481.51it/s]

['-GATGGTAGATGGAGACTCAGAGG',
 '-GATGGTAGATGGAGACTCAGTGG',
 '-GATGGTAGATGGAGACTCAGAGG',
 '-GATGGTAGATGGAGACTCAGCGG',
 '-GATGGTAGATGGAGACTCAGGGG',
 '-GATGGTAGATGGAGACTCAGGGG',
 '-GATGGTAGATGGAGACTCAGGGG',
 '-GATGGTAGATGGAGACTCAGCGG',
 '-GATGGTAGATGGAGACTCAGTGG',
 '-GATGGTAGATGGAGACTCAGCGG']

In [8]:
df = pandas.DataFrame(data={
    'on':onss,
    'off':offs,
    'val':val
})
df.to_csv('../../data/%s.csv' % csv_name, index=False)